# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     "%env(DATABASE_HOST)%"
    database_port:     "%env(DATABASE_PORT)%"
    database_name:     "%env(DATABASE_NAME)%"
    database_user:     "%env(DATABASE_USER)%"
    database_password: "%env(DATABASE_PASSWORD)%"

    secret: "%env(SYMFONY_SECRET)%"

    rabbitmq_host: "%env(RABBITMQ_HOST)%"
    rabbitmq_port: "%env(RABBITMQ_PORT)%"
    rabbitmq_user: "%env(RABBITMQ_USER)%"
    rabbitmq_password: "%env(RABBITMQ_PASSWORD)%"
    rabbitmq_virtual_host: "%env(RABBITMQ_VIRTUAL_HOST)%"
